{% extends 'merchSite/index.html' %}

{% block content %}
<div class="my-cart container">
    <h1>My Cart</h1>
    {% if cartitem %}
    <div class="row">
        <div class="col-md-6">
            {% for cart in cartitem %}
            <div class="cart-card col-md-12 d-flex justify-content-between">
                <div class="cart-product-name">{{cart.product.name}}</div>
                {% if cart.product.discount %}
                <div class="cart-product-price">{{cart.product.discount_price}}</div>
                {% else %}
                <div class="cart-product-price">{{cart.product.price}}</div>

                {% endif %}
                <img src="{{cart.product.image.url}}" alt="" width="200px" height="200px">
                <a href="{% url 'delete-cart-item' cart.id %}" class="btn btn-danger">Delete</a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h5>Total</h5>: {{total_price}}
        </div>
        <small>Delivery cost: Rs. {{delivery_cost}}</small>
        <a href="#">Checkout</a>
        <a href="{% url 'clear-cart' %}">Clear Cart</a>
    </div>
    {% else %}
    <small>It seems you have not added any items to your cart. Please add it so that you can check out!</small>
    {% endif %}
</div>

{% endblock %}