{% extends 'merchSite/index.html' %}
{% block content %}
<h3 class="text-left">Billing Address</h3>
        
                    <hr style="color: rgb(233, 228, 228);">
                   <form method = "POST">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="location">Delivery Address</label>
                        <input type="text" name="location" id="location" placeholder="Enter your address" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="number" name="phone" id="phone" placeholder="Enter your phone number" class="form-control" required>
                    </div>
                    <!-- <input type="hidden" name="scd" value="EPAYTEST">
                  <input type="hidden" name="su" value="{{ esewa_data.success_url }}">
                  <input type="hidden" name="fu" value="{{ esewa_data.failure_url }}">
                  <input type="hidden" name="oid" value="{{ esewa_data.transaction_uuid }}">
                  <input type="hidden" name="amt" value="{{ esewa_data.amount }}">
                  <input type="hidden" name="txAmt" value="{{ esewa_data.tax_amount }}">
                  <input type="hidden" name="psc" value="{{ esewa_data.service_charge }}">
                  <input type="hidden" name="pdc" value="{{ esewa_data.delivery_charge }}">
                  <input type="hidden" name="tAmt" value="{{ esewa_data.total_amount }}"> -->
                  <button type = "submit" class="btn  btn-lg mt-3 w-100" style="background-color: #5E338D;color: white;" > Checkout by Khalti</button>
                </form>

{% endblock %}