{% extends 'merchSite/index.html'%}
{% load static %}
{% block title%}{{product.name}}{%endblock%}

{% block content %}
<div class="product-container container">
    <div class="product-detail-main ">
        <div class="product-img-collection">
            <div class="product-img-top">
                <img src="{{product.image.url}}" class="product-detail-image" alt="">
                <img src="{{product.second_image.url}}" class="product-detail-image" alt="">
            </div>
            <div class="product-img-below">
                <img src="{{product.third_image.url}}" class="product-detail-image" alt="">
                <img src="{{product.fourth_image.url}}" class="product-detail-image" alt="">
            </div>
        </div>
        <div class="product-detail">
            <h3 class="product-detail-name">{{product.name}}</h3>
            
            {% if product.discount %}
            <strike class="product-dis-price" style="color:red" >Rs. {{product.price}}</strike>
            <h5 class="discount-price">Rs. {{product.discount_price}}</h5>
            {% else %}
            <small class="product-price">Rs. {{product.price}}</small>
            {% endif %}
            {% if product.quantity < 5 %}
            <p>Remaining Product: {{product.quantity}}</p>
            {% else %}
            <p></p>
            {% endif %}
            <h5>Product Description</h5>
            <p>{{product.description|safe}}</p>
            <h5>Available Sizes</h5>
            
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="size">Size:</label>
                    <select name="size" required>
                        {% for size, quantity in sizes.items %}
                        <option value="{{ size }}">{{ size }} ({{ quantity }} available)</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" name="quantity" value="1" min="1" required>
                </div>
                
                <button type="submit">Add to Cart</button>
            </form>
                <!-- <div class="btn-grps">
                <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart-btn">Add to Bag</a>
            </div> -->
        </div>
    </div>
    <div class="related-prod d-flex flex-column">
        <h1 class="d-related-products mb-5">Related Products</h1>
        <div class="d-product-list">
            {% for product in related_products %}
                    <a href="{% url 'detail-page' product.slug%}" class="text-decoration-none text-black">
                    <div class="related-product-card p-0" >
                        <img src="{{product.image.url}}" width="400" height="500">
                        <div class="details">
                            <h5 class="mt-3">{{product.name}}</h5>
    
                            <p>Rs. {{product.price }}</p>
                        </div>
                    </a>
                       
                    </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="related-prod d-flex flex-column">
        <h1 class="d-related-products mb-5">Other Products</h1>
        <div class="d-product-list">
            {% for product in other_products %}
                    <a href="{% url 'detail-page' product.slug%}" class="text-decoration-none text-black">
                    <div class="related-product-card p-0" >
                        <img src="{{product.image.url}}" width="400" height="500">
                        <div class="details">
                            <h5 class="mt-3">{{product.name}}</h5>
    
                            <p>Rs. {{product.price }}</p>
                        </div>
                    </a>
                       
                    </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}