{% extends 'merchSite/index.html' %}
{% block title %}Products{%endblock %}
{% block content %}

<div class="products container mb-5">
    <div class="product-list mt-5">
        <div class="categories-list">
            {%for category in categories%}
            <a href="{% url 'categories-page' category.id%}" class="category-btn">{{category.category_name}}</a>
            {% endfor %}
        </div>
        {% for product in products%}
        <div class="product-card">
            <a href="{% url 'detail-page' product.slug %}" class="text-decoration-none" >
                <img src= "{{product.image.url}}" alt="img" class="product-image">
                    <small class="size-info">{{product.product_available_text}}</small>
                <h5 class="product-name">{{product.name}}</h5>
            </a>
            {% if product.discount %}
            <div class="price d-block">
                <small class="original-price">Rs. {{product.discount_price}}</small>
                <strike class="discount-price" style="color:red" >Rs. {{product.price}}</strike>
            </div>
            {% else %}
            <small class="original-price">Rs. {{product.price}}</small>
            {% endif %}
        </div> 
        {% endfor%}
    </div>
</div>
{% endblock %}