{% extends 'merchSite/index.html' %}
{% block title %}Products{%endblock %}
{% block content %}

<div class="products mb-5">
    <div class="header-top">
            <div class="categories-list">
            <a href="{% url 'products' %}" class="category-btn">All Products</a>

            {% for category in categories %}
            {% if category.id == id %}
            <a href="{% url 'categories-page' category.id%}" class="category-btn-active">{{category.category_name}}</a>
            {% else %}
            <a href="{% url 'categories-page' category.id%}" class="category-btn">{{category.category_name}}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% if products %}
        <div class="filters">
            <select name="filter" id="filters" onchange="window.location.href = this.value">
                <option value="lowtohighprice">Filters</option>
                <option value="{% url 'products-filter-category'  id 'lowtohigh' %}">Low to High (Price)</option>
                <option value="{% url 'products-filter-category' id 'hightolow' %}">High to Low (Price)</option>
            </select>
        </div>
        {% endif %}
    </div>
    <div class="product-list mt-5">
        {% if products %}
        {% for product in products%}
        <div class="product-card mt-4">

            <a href="{% url 'detail-page' product.slug %}" class="text-decoration-none" >
                <img src= "{{product.image.url}}" alt="img" class="product-image">
                        <small class="size-info">{{product.product_available_text}}</small>

                <h5 class="product-name">{{product.name}}</h5>
            </a>
            {% if product.discount %}
            <div class="price d-block">
                <small class="original-price">Rs. {{product.discount_price}}</small>
                <strike class="discount-price" style="color:red" >Rs. {{product.price}}</strike>
            </div>
            {% else %}
            <small class="original-price">Rs. {{product.price}}</small>
            {% endif %}
            <!-- <div class="btn-grps">
                <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart-btn">Add to Cart</a>
            </div> -->
        </div> 
        {% endfor%}
        {% else %}
        <h5 class="text-center">No products listed for this category.</h5>

        {% endif %}

    </div>
</div>
{% endblock %}