{% extends 'merchSite/base.html' %}
{% block title %}Products{%endblock %}
{% block content %}

<div class="products mb-5">
    <div class="header-top">
        <div class="categories-list">
            <a href="{% url 'products' %}" class="category-btn-active">All Products</a>

            {%for category in categories%}
            <a href="{% url 'categories-page' category.id%}" class="category-btn">{{category.category_name}}</a>
            {% endfor %}
        </div>
        <div class="filters">
            <select name="filter" id="filters" onchange="window.location.href = this.value">
                <option value="lowtohighprice">Filters</option>
                <option value="{% url 'products-filter' 'lowtohigh'%}" {% if active_filter == 'lowtohigh' %}selected{% endif %}>Low to High (Price)</option>
                <option value="{% url 'products-filter' 'hightolow' %}" {% if active_filter == 'hightolow' %}selected{% endif %}>High to Low (Price)</option>
            </select>
        </div>
    </div>
    <div class="product-list mt-5">
        
        {% for product in products%}
        <div class="product-card mt-4">
            <a href="{% url 'detail-page' product.slug %}" class="text-decoration-none" >
                {% if product.discount%}
                <div class="img-discount-over">
                    <img src= "{{product.image.url}}" alt="img" class="product-image">
                    <div class="discount-rate-home">
                        <p>{{product.discount_rate}}</p>
                    </div>
                </div>
                {% else %}
                    <img src= "{{product.image.url}}" alt="img" class="product-image">
                    
                {% endif %}
                <small class="size-info">{{product.product_available_text}}</small>
                <h5 class="product-name">{{product.name}}</h5>
            </a>
            {% if product.discount %}
            <div class="price d-block">
                <small class="original-price">Rs. {{product.discount_price}}</small>
                <strike class="discount-price" style="color:red" >Rs. {{product.price}}</strike>
            </div>
            {% else %}
            <small class="original-price">Rs. {{product.price}}</small>
            {% endif %}
        </div> 
        {% endfor%}
    </div>
</div>
{% endblock %}