{% extends 'merchSite/index.html' %}
{% block content %}

<div class="container">
    <div class="icon">✅</div>
    <h1>Payment Successful!</h1>
    <p>Thank you for your purchase. Your payment has been processed successfully.</p>
    <small>In order to track your order, please use this order-id: <strong>{{order_id}}</strong></small>
    
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}" class="btn">View Your Order</a>
    {% else %}
    <a href="{% url 'track-order' %}" class="btn">Track Your Order</a>
    {% endif %}
</div>



{% endblock %}