{% extends 'merchSite/base.html' %}
{% block content %}

<div class="success-container">
    <div class="khalti-container">
        <h1>✅Payment Successful!</h1>
        <p>Thank you for your purchase. Your payment has been processed successfully.</p>
        <small>In order to track your order, please use this order-id: <strong>{{order_id}}</strong></small>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="btn">View Your Order</a>
        {% else %}
        <a href="{% url 'track-order' %}" class="btn">Track Your Order</a>
        {% endif %}
    </div>
</div>


{% endblock %}