{% extends 'merchSite/base.html' %}
{% load static %}
<title>{% block title %} Custom Admin {% endblock %}</title>
{% block content %}

<div class="main-content container">
    <header class="d-flex justify-content-between align-items-center mb-5">
        <h2 class="header">Brief Admin Page</h2>
        <a href="{% url 'admin:index' %}">
            <button class="btn btn-outline-dark px-4" style="border-radius: 8px;">Admin</button>

        </a>
    </header>

    {% if out_of_stock_products %}
    <div class="alert-stock">
        <strong> <i class="fa fa-bell"></i>Stock Alert: &nbsp;</strong>
        {% for osp in out_of_stock_products %}
            {{ osp }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
         is out of stock.
    </div>
    {% endif %}

    <div class="kpi-container">
        {% if out_of_stock_products %}
        <div class="kpi-card kpi-danger">
            <div class="kpi-label">No. Out Of Socks</div>
            <div class="kpi-value">{{out_of_stock_products|length}} products</div>
        </div>
        {% endif %}
        {% if pending_order %}
         <div class="kpi-card kpi-warning">
            <div class="kpi-label ">In-process Orders</div>
            <div class="kpi-value">{{pending_order_count}}</div>
        </div>
        {% endif %}
        <div class="kpi-card">
            <div class="kpi-label">Total Sales</div>
            <div class="kpi-value">{{total_sales}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-label">Income ({{current_month_name}})</div>
            <div class="kpi-value">Rs. {{monthly_sales}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-label">Total Income</div>
            <div class="kpi-value">Rs. {{total_income}}</div>
        </div>
        
       
        
    </div>

    <div class="inventory-section">
        <h5 class="mb-4" style="font-weight: 600;">Product Inventory</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    {% if product.total_quantity < 2 %}
                     <tr>
                        <td><a href="{% url 'detail-page' product.slug%}" class="product-detail-link">{{product.name}}</a></td>
                        <td>{{product.price}}</td>
                        <td>{{product.total_quantity}}</td>
                        <td>
                            {% if product.total_quantity == 0 %}
                            Out of Stock
                            {% else %}
                            Low Stock
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'admin:merchSite_product_change' product.id %}" class="add-stock">Add Stock</a>
                        </td>
                    </tr>

                    {% endif %}
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    <div class="inventory-section mt-5">
        <h5 class="mb-4" style="font-weight: 600;">Pending Orders</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Products List</th>
                    <th>User</th>
                    <th>Total Cost</th>
                    <th>Order Placed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in pending_order_list %}
                     <tr>
                        <td>
                            {% for item in order.products %}
                            {{item.product}} ({{item.size}}, {{item.quantity}} unit)
                            {% endfor %}
                        </td>
                        <td>{{order.orders.user}}</td>
                        <td>Rs. {{order.orders.price}}</td>
                        <td>{{order.orders.date|date:'d M, Y'}}</td>
                        <td>
                            <a href="{% url 'admin:merchSite_order_change' order.orders.id %}" class="add-stock">Change Status</a>
                        </td>
                    </tr>

                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}