{% extends 'merchSite/base.html' %}
{% load static %}
<title>{% block title %} Custom Admin {% endblock %}</title>

{% block content %}

<div class="main-content container">
    <header class="d-flex justify-content-between align-items-center mb-5">
        <h1 class="header">Brief Admin Page</h1>
        <a href="{% url 'admin:index' %}">
            <button class="btn btn-outline-dark px-4" style="border-radius: 8px;">Admin Page</button>

        </a>
    </header>

    {% if out_of_stock_products %}
    <div class="alert-stock">
        <strong> <i class="fa fa-bell"></i>Stock Alert: &nbsp;</strong>
        {% for osp in out_of_stock_products %}
            {{ osp }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
         is out of stock.
    </div>
    {% endif %}

    <div class="kpi-container">
        {% if out_of_stock_products %}
        <div class="kpi-card kpi-danger">
            <div class="kpi-label">No. Out Of Socks</div>
            <div class="kpi-value">{{out_of_stock_products|length}} products</div>
        </div>
        {% endif %}
        {% if pending_order %}
         <div class="kpi-card kpi-warning">
            <div class="kpi-label ">In-process Orders</div>
            <div class="kpi-value">{{pending_order_count}}</div>
        </div>
        {% endif %}
        <div class="kpi-card">
            <div class="kpi-label">Total Sales</div>
            <div class="kpi-value">{{total_sales}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-label">Income ({{current_month_name}})</div>
            <div class="kpi-value">Rs. {{monthly_sales}}</div>
        </div>
        <div class="kpi-card">
            <div class="kpi-label">Total Income</div>
            <div class="kpi-value">Rs. {{total_income}}</div>
        </div>
        
       
        
    </div>

    <div class="inventory-section">
        <h5 style="font-weight: 600;">Product Inventory</h5>
        <small style="color:grey;">This table contains the list of products which are either out of stock or low on stock (les than 2) </small>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Size Options</th>
                    <th>Total Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                    <th>Featured</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                     <tr>
                        <td><a href="{% url 'detail-page' product.slug%}" class="product-detail-link">{{product.name}}</a></td>
                        <td>{{product.category}}</td>
                        <td>{{product.size_options}}</td>
                        <td>{{product.total_quantity}}</td>
                        <td>Rs. {{product.price}}</td>
                        <td>
                            <a href="{% url 'admin:merchSite_product_change' product.id %}" class="add-stock">Add Stock</a>
                        </td>
                        <td>{{product.discount}}</td>

                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    <div class="inventory-section mt-5">
        <h5 style="font-weight: 600;">Pending Orders</h5>
        <small style="color:grey;">This table contains the list of pending orders. </small>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Products List</th>
                    <th>User</th>
                    <th>Cost</th>
                    <th>Paid?</th>
                    <th>Payment Option</th>
                    <th>Action</th>
                </tr>   
            </thead>
            <tbody>
                {% for order in pending_orders_offload %}
                     <tr>
                        <td>
                            <ul style="list-style-type:none; padding: 0;">
                            {% for item in order.products%}
                            <li style="padding-block: 0.25em;">
                                <span style="font-weight: 600;">{{item.product}}</span> ({{item.size}}) * {{item.quantity}} unit

                            </li>
                            {% endfor %}
                            </ul>
                            
                        </td>
                        <td>{{order.order.user}}</td>
                        <td>Rs. {{order.order.price}}</td>
                        <td>{{order.order.is_paid}}</td>
                        <td>{{order.order.payment_option}}</td>
                        <td>
                            <a href="{% url 'admin:merchSite_order_change' order.order.id %}" class="add-stock">Edit Order</a>
                        </td>
                    </tr>

                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}