@media screen and (max-width:400px){
    /* home page and nav section  */
    .nav-section{
        margin: 0 auto;
    }
    
    .nav-links a{
        display: none;
    }
    .nav-links a.icon{
        float: right;
        text-decoration: none;
        color: black;
        display: block;
        font-size: 1.5em;
    }
    .nav-links.responsive{
        display: inline;

        position: absolute;
        top: 0;
        margin: 0 auto;
        margin-top: 0;
        right: 0;
        padding-top: 5em;
        height: 100%;
        z-index: 10;
        background-color: rgba(204, 204, 204, 0.613)
        
    }
    .nav-links.nav-links.responsive a.icon{
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em;
    }
    .nav-links.responsive .nav-items {
        display: block;
        text-align: left;
        margin-left: 1em;
    }
    .main{
        margin-top: 2em;
    }
    .intro{
        flex-direction: column-reverse;
        gap: 1.5em;
    }
    .nav-section img{
        width: 80px;
        height: 60px;
    }
    .intro img{
        width: 100%;
        height: 40vh;
    }
    .intro-content{
        font-size: 0.75em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .view-btn{
        font-size: 1.25em;
        width: 100%;
    }
    .head-content{
        font-size: 0.75em;
    }
    .product-list-home{
        width: 100%;
    }
    .product-card-home{
        width: 100%;

    }
    .img-discount-over{
        position:relative;
    }
    .discount-rate-home{
        position: absolute;
        top: 0;
    }
    .product-name{
        font-size: 1.5em;
    }
    .original-price, .product-price{
        font-size: 1em;
    }

    /* product page */
    .header-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        gap: 0.5em;

    }
    .filters{
        width: 90%;
        margin-top:1em;
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;
        align-items: center;
    }
    .filters label, option, select{
        font-size: 1em;
    }
    .filters select{
        padding-block: 0.6em;

    }

    .categories-list{
        font-size: 0.85em;
    }
    .product-card{
        width: 100%;
    }
    .home-heading{
        font-size: 2em;
    }
    /* product detail page */
    .product-detail-main{
        display: flex;
        width: 100%;
        margin-top: 0;
        flex-direction: column;

    }
    .product-detail-container{
        display: block;
        padding: 1em;
    }
    .main-container{
        width: 100%;
    }
    .reviews-container{
        width: 100%;
        padding: 1em;
    }
    .reviews{
        width: 100%;
    }
    .carousel-container {
        width: 100%;

    }
    .current-slide{
        width: 100%;
    }

    .carousel__track-container {
        width: 285%;
        height: 50vh;

    }
    .carousel__slide{
        width: 100%;
    }
    .carousel__slide .current-slide{
        width: 100%;

    }
    .carousel__image{
        width: 100%;
    }
    .carousel__indicator-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .carousel__indicator {
        max-width: 20%;
        border-radius: 8px;
        cursor: pointer;
    }

    .carousel__indicator--image {
        height: 100%;
        border-radius: 5px;
    }

    .carousel__indicator.current-slide {
        border: 1px solid var(--orange);
    }

    .carousel__indicator.current-slide img {
        opacity: .5;
    }
    .carousel__indicator:hover {
        opacity: .5;
    }

  
    .product-detail{
        margin-top: 2em;
        width: 100%;
    }
    .product-price{
        font-size: 1.5em;
    }
    .details h5{
        margin-top: 0.5em;
        padding-bottom: 0.25em;
        font-size: 1.6em;
    }
    .size-info{
        font-size: 1em;
    }
    .d-product-list .original-price{
        font-size: 1.25em;
    }
    .quantity-size{
        width: 100%;
        display: block;
    }
    .product-detail-name{
        font-size: 1.85em;
    }
    
    .reviews{
        margin-top: 3em;
    }
    .review-card{
        margin-top: 1em;
    }
    .review-content{
        flex-direction: column;
    }
    .review-stars-count{
        width: 100%;
        font-size: 0.5em;
    }
    .review-carousel-container{
        width: 100%;
        font-size: 0.65em;
    }
    .review-stars img{
        width: 50px !important;
        height: 10px;
    }
   
    .alert-cart:visited, 
    .alert-cart:link,
    .alert-cart:active,
    .alert-cart:hover,
    .alert-card:focus{
        color: white;
        text-decoration: none;
    }
    .alert-cart:hover{
        text-decoration: none;
        color: white;
    }
    
    .alert-success h5, .alert-error h5, .alert-warning h5{
        font-size: 1em;
    }
    .order-view{
        justify-content: center;
        width: 100%;
    }
    .my-cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .whole-container{
        width: 90%;
    }
    .d-product-list{
        gap:1em;
    }
    .card-body{
        display: flex;
        gap: 1em;
        border-radius: 15px;
        border:1px solid rgb(194, 193, 193)
    }
    .cart-product-name{
        padding-top: 1em;
    }
    .add-to-cart-btn{
        width: 100%;
    }
    .total-cart-delete{
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start ;
        justify-content: space-between;

    }
    .delete-item{
        margin-top:2em;
    }
    .checkout-page-info{
        padding: 1em;
        gap: 2em;
        font-size: clamp(0.5em, 2vh, 0.95em);
        flex-direction: column-reverse;
    }
    .cart-summary-info{
        align-items: center;
    }
    
    .order-summary-image{
        width: 50px;
        height: 50px;
    }
}

@media  (min-width: 400.02px) and (max-width: 499.98px) {
    /* home page and nav section  */
    .nav-section{
        margin: 0 auto;
    }
    .nav-section img{
        width: 80px;
        height: 50px;
    }
   
    .nav-links a{
        display: none;
    }
    .nav-links a.icon{
        float: right;
        text-decoration: none;
        color: black;
        display: block;
        font-size: 1.5em;
    }
    .nav-links.responsive{
        display: inline;
        position: absolute;
        top: 0;
        margin: 0 auto;
        margin-top: 0;
        height: 100%;
        right: 0;
        padding-top: 5em;
        z-index: 10;
        background-color: rgba(204, 204, 204, 0.613)
        
    }
    .nav-links.nav-links.responsive a.icon{
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em;

    }
    .nav-links.responsive .nav-items {
        display: block;
        text-align: left;
        margin-left: 1em;

    }
    .main{
        margin-top: 2em;
    }
    .intro{
        flex-direction: column-reverse;
        gap: 1.5em;
    }
    .intro img{
        height: 40vh;
        width: 100%;
    }
    .intro-content{
        font-size: 0.75em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .view-btn{
        font-size: 1.25em;
        width: 100%;
    }
    .head-content{
        font-size: 0.75em;
    }
    .product-list-home{
        width: 100%;
    }
    .product-card-home{
        width: 100%;

    }
    .product-name{
        font-size: 1.5em;
    }
    .original-price, .product-price{
        font-size: 1em;
    }

    /* product page */
    .header-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        gap: 0.5em;

    }
    .filters{
        width: 90%;
        margin-top:1em;
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;
        align-items: center;
    }
    .filters label, option, select{
        font-size: 1em;
    }
    .filters select{
        padding-block: 0.6em;

    }

    .categories-list{
        font-size: 0.85em;
    }
    .product-card{
        width: 100%;
    }
    .home-heading{
        font-size: 1.5em;
    }
    /* product detail page */
    .product-detail-main{
        display: flex;
        width: 80%;
        margin-top: 0;
        flex-direction: column;

    }
    .main-container{
        width: 100%;

    }
    .carousel-container {
        width: 100%;

    }
    .current-slide{
        width: 100%;
    }

    .carousel__track-container {
        width: 285%;
        height: 50vh;

    }
    .carousel__slide{
        width: 100%;
    }
    .carousel__slide .current-slide{
        width: 100%;

    }
    .carousel__image{
        width: 100%;
    }
    .carousel__indicator-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .carousel__indicator {
        max-width: 20%;
        border-radius: 8px;
        cursor: pointer;
    }

    .carousel__indicator--image {
        height: 100%;
        border-radius: 5px;
    }

    .carousel__indicator.current-slide {
        border: 1px solid var(--orange);
    }

    .carousel__indicator.current-slide img {
        opacity: .5;
    }
    .carousel__indicator:hover {
        opacity: .5;
    }

    .carousel__button-container {
        display: none;
    }
    .product-detail{
        margin-top: 2em;
        width: 100%;
    }
    .quantity-size{
        width: 100%;
        display: block;
    }
    .product-detail-name{
        font-size: 1.85em;
    }
    .reviews{
        margin-top: 3em;
    }
    .review-card{
        margin-top: 1em;
    }
    .alert-success, .alert-error, .alert-warning{
        width: 100%;
    }
    .alert-success h5, .alert-error h5, .alert-warning h5{
        font-size: 0.5em;
    }
    .order-view{
        justify-content: center;
        width: 100%;
    }
    .my-cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .whole-container{
        width: 90%;
    }
    .d-product-list{
        gap:1em;
    }
    .card-body{
        display: flex;
        gap: 1em;
        border-radius: 15px;
        border:1px solid rgb(194, 193, 193)
    }
    .cart-product-name{
        padding-top: 1em;
    }
   
    .total-cart-delete{
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start ;
        justify-content: space-between;

    }
    .delete-item{
        margin-top:2em;
    }
    .checkout-page-info{
        padding: 1em;
        gap: 2em;
        font-size: clamp(0.5em, 2vh, 0.85em);
        flex-direction: column-reverse;
    }
    .cart-summary-info{
        align-items: center;
        font-size: 0.85em;
    }
    
    .order-summary-image{
        width: 50px;
        height: 50px;
    }
}

 
@media screen and (max-width:992px){
     /* home page and nav section   */
    .nav-section{
        margin: 0 auto;
    }
    .nav-section img{
        width: 180px;
        height: 100px;
    }
    
    .nav-links a{
        display: none;
    }
    .nav-links a.icon{
        float: right;
        text-decoration: none;
        color: black;
        display: block;
        font-size: 2em;
    }
    .nav-links.responsive{
        position: absolute;
        top: 0;
        margin: 0 auto;
        margin-top: 0;
        right: 0;
        padding-top: 7em;
        height: 100%;
        z-index: 10;
        width: 30%;
        background-color: rgba(204, 204, 204, 0.613)
        
    }
    .nav-links.nav-links.responsive a.icon{
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em;
    }
    .nav-links.responsive .nav-items {
        display: block;
        text-align: left;
        font-size: 1.5em;
        margin-left: 1em;
    }
    .main{
        margin-top: 2em;
    }
    .intro{
        flex-direction: column-reverse;
        gap: 1.5em;
    }
    .intro img{
        height: 50vh;
        width: 100%;
    }
    .intro-content{
        font-size: 1.15em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .view-btn{
        font-size: 1.5em;
        width: 100%;
    }
    .head-content{
        font-size: 1.15em;
    }
    .product-list-home{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .product-card-home{
        width: 45%;

    }
    .product-name{
        font-size: 1.5em;
    }
    .size-info{
        font-size: 1em;
    }
    .original-price, .product-price{
        font-size: 1.5em;
    }

    /* product page */
    .categories-list{
        font-size: 1.15em;
    }
    .product-list{
        display: flex;
        justify-content: space-between;
    }
    .product-card{
        width: 45%;
    }
    /* product detail page */
    .product-detail-main{
        display: flex;
        width: 80%;
        margin-top: 0;
        flex-direction: column;

    }
    .main-container{
        width: 100%;

    }
    .carousel-container {
        width: 100%;

    }
    .current-slide{
        width: 100%;
    }

    .carousel__track-container {
        border-radius: 12px;
        width: 285%;
        height: 70vh;

    }
    .carousel__slide{
        width: 100%;
    }
    .carousel__slide .current-slide{
        width: 100%;

    }
    .carousel__image{
        width: 100%;
    }
    .carousel__indicator-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .carousel__indicator {
        max-width: 20%;
        height: 10vh;
        border-radius: 8px;
        cursor: pointer;
    }

    .carousel__indicator--image {
        height: 100%;
        border-radius: 5px;
    }

    .carousel__indicator.current-slide {
        border: 1px solid var(--orange);
    }

    .carousel__indicator.current-slide img {
        opacity: .5;
    }
    .carousel__indicator:hover {
        opacity: .5;
    }

    .carousel__button-container {
        display: none;
    }
    .product-detail{
        margin-top: 2em;
        width: 100%;
    }
    .quantity-size{
        width: 100%;
        
    }
   
    .product-detail-name{
        font-size: 2.5em;
    }
    .product-dis-price{
        font-size: 1.5em;
    }
    .original-price{
        font-size: 1.5em;
    }
    .product-detail p, ul{
        font-size: 2em;
        text-align: justify;
    }
    .form-group label{
        font-size: 1.85em;
    }
    .form-group{
        width: 100%;
    }
    .form-group select,
    .form-group input {
        font-size: 1.5em;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        transition: all 0.3s ease-in-out;
    }
    .form-group option{
        font-size: 0.5em;
        width: 10%;
    }
   
    .add-to-cart-btn{
        font-size: 1.5em;
    }
    .alert-success, .alert-error{
        width: 80%;
    }
    .alert-success h5, .alert-error h5{
        font-size: 0.85em;
    }

    /* related prod */
    .home-heading{
        font-size: 2.5em;
    }
    
    .related-product-card{
        width: 50%;
        font-size: 1.5em;
        padding-bottom: 1em;
    }
    .size-info{
        font-size: 0.85em;
    }
   

} 

@media screen and (max-width: 1100px) {
    .nav-section{
        margin: 0 auto;
    }
    .nav-section img{
        width: 180px;
        height: 100px;
    }
    
    .nav-links a{
        display: none;
    }
    .nav-links a.icon{
        float: right;
        text-decoration: none;
        color: black;
        display: block;
        font-size: 2em;
    }
    .nav-links.responsive{
        position: absolute;
        top: 0;
        margin: 0 auto;
        margin-top: 0;
        right: 0;
        padding-top: 7em;
        height: 100%;
        z-index: 10;
        width: 30%;
        background-color: rgba(204, 204, 204, 0.613)
        
    }
    .nav-links.nav-links.responsive a.icon{
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em;
    }
    .nav-links.responsive .nav-items {
        display: block;
        text-align: left;
        font-size: 1.5em;
        margin-left: 1em;
    }
    .main{
        margin-top: 2em;
    }
    .intro{
        flex-direction: column-reverse;
        gap: 1.5em;
    }
    .intro img{
        height: 50vh;
        width: 100%;
    }
    .intro-content{
        font-size: 1.15em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .view-btn{
        font-size: 1.5em;
        width: 100%;
    }
    .head-content{
        font-size: 1.15em;
    }
    .product-list-home{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .product-card-home{
        width: 45%;

    }
    .product-name{
        font-size: 1.5em;
    }
    .size-info{
        font-size: 1em;
    }
    .original-price, .product-price{
        font-size: 1.5em;
    }

    /* product page */
    .categories-list{
        font-size: 1.15em;
    }
    .product-list{
        display: flex;
        justify-content: space-between;
    }
    .product-card{
        width: 45%;
    }
    /* product detail page */
    .product-detail-main{
        display: flex;
        width: 80%;
        margin-top: 0;
        flex-direction: column;

    }
    .main-container{
        width: 100%;

    }
    .carousel-container {
        width: 100%;

    }
    .current-slide{
        width: 100%;
    }

    .carousel__track-container {
        border-radius: 12px;
        width: 285%;
        height: 70vh;

    }
    .carousel__slide{
        width: 100%;
    }
    .carousel__slide .current-slide{
        width: 100%;

    }
    .carousel__image{
        width: 100%;
    }
    .carousel__indicator-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .carousel__indicator {
        max-width: 20%;
        height: 10vh;
        border-radius: 8px;
        cursor: pointer;
    }

    .carousel__indicator--image {
        height: 100%;
        border-radius: 5px;
    }

    .carousel__indicator.current-slide {
        border: 1px solid var(--orange);
    }

    .carousel__indicator.current-slide img {
        opacity: .5;
    }
    .carousel__indicator:hover {
        opacity: .5;
    }

    .carousel__button-container {
        display: none;
    }
    .product-detail{
        margin-top: 2em;
        width: 100%;
    }
    .quantity-size{
        width: 100%;
        
    }
   
    .product-detail-name{
        font-size: 2.5em;
    }
    .product-dis-price{
        font-size: 1.5em;
    }
    .original-price{
        font-size: 1.5em;
    }
    .product-detail p, ul{
        font-size: 2em;
        text-align: justify;
    }
    .form-group label{
        font-size: 1.85em;
    }
    .form-group{
        width: 100%;
    }
    .form-group select,
    .form-group input {
        font-size: 1.5em;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        transition: all 0.3s ease-in-out;
    }
    .form-group option{
        font-size: 0.5em;
        width: 10%;
    }
   
    .add-to-cart-btn{
        font-size: 1.5em;
    }
    .alert-success, .alert-error{
        width: 80%;
    }
    .alert-success h5, .alert-error h5{
        font-size: 0.85em;
    }

    /* related prod */
    .home-heading{
        font-size: 2.5em;
    }
    
    .related-product-card{
        width: 50%;
        font-size: 1.5em;
        padding-bottom: 1em;
    }
    .size-info{
        font-size: 0.85em;
    }
 .carousel-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 35%;
        padding: 0;
        margin: 0;
        flex: 1;
        gap: 20px;
    }

    .carousel {
        height: 50%;
    }



    .content-container {
        height: 60%;
        width: 35%;
        padding: 0;
        margin: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .add-to-cart-container {
        display: flex;
        gap: 10px;
    }

    .add-to-cart-container>* {
        margin: 0;
    }



    .carousel__track-container {

    }

    .carousel__indicator-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .carousel__indicator {
        max-width: 20%;
        border-radius: 8px;
        cursor: pointer;
    }
    .indicator-1{
        height: 10vh;
    }

    .carousel__indicator--image {
        width: 100%;
        height: 100%;
    }

    .carousel__indicator.current-slide {
        border: 1px solid var(--orange);
    }

    .carousel__indicator.current-slide img {
        opacity: .5;
    }

    .carousel__indicator:hover {
        opacity: .5;
    }

    .carousel__button-container {
        display: none;
    }
    .review-carousel-container{
        flex-direction: column;
    }
    .review-card{
        width: 100%;
    }
    .review-user-section{
        font-size: 0.75em;
    }

}

